.botao {
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 16px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 16px 0;
}

.botao:hover {
    color: #95FFD4;
}